html {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center
}

:root {
    color-scheme: dark;
}

body {
    margin-top: 69px;
}

h1, h2 {
    color: white;
}

a {
    color: lime;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}